@mixin mq($width, $type: min) {
    @if map_has_key($breakpoints, $width) {
        $width: map_get($breakpoints, $width);
        @if $type == max {
            $width: $width - 1px;
        }
        @media only screen and (#{$type}-width: $width) {
            @content;
        }
    }
    @if $width == "print" {
        @media only print {
            @content;
        }
    }
    @if $width == "screen" {
        @media only screen {
            @content;
        }
    }
}

@mixin pseudo($display: block, $pos: absolute, $content: ''){
    content: $content;
    display: $display;
    position: $pos;
}

@mixin header_css() {
    h1, h2, h3, h4, h5, h6{
        @content;
    }
}