/* Table of contents
---------------------------------------------------
- Imports
- General
- Header
- Navigation
*/

/* Imports
--------------------------------------------------- */

@import 'mixins';
@import 'variables';

@font-face {
    font-family: 'Roboto';
    src: url('chrome-extension://__MSG_@@extension_id__/fonts/Roboto-Regular.ttf')  format('truetype');
}

/* General
--------------------------------------------------- */

body, button, input, select, textarea, pre{
    font:'Roboto', sans-serif !important;
}

body {
    background: #fff;
    
    .body_bg{
        overflow: auto;
        width: auto;
        height: auto;
        margin: 0;
    }

    #login_wrapper{
        width: auto;
        margin: 0;
    }
    
    .center_box, .notification, .login_box_info{
        width: auto;
        margin: 0;
        background: none;
        height: auto;
    }
}

/* Header
--------------------------------------------------- */

body {
    .head_div{
        position: static;
        background: none;
        width: auto;
        height: auto;
        margin: 0;
    }
    
    .head_dim {
        width: auto;
        height: auto;
        margin: 0;
        
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        background: #FFCB03;
        
        .logo {
            width: 54px;
            height: 54px;
            position: static;
            margin-left: 0;
            margin-top: 0;
            padding: 9px 1em;
            background-origin: content-box;
        }
        
        .help {
            position: static;
            height: auto;
            top: auto;
            right: auto;
            overflow: auto;
            
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            
            span {
                font: inherit;
            }
            
            .help_left, .help_right {
                float: none;
            }
            
            .help_right .logout {
                background: none;
            }
        }
        
        .tools {
            position: static;
            height: auto;
            top: auto;
            right: auto;
            
            ul {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                height: 100%;
                
                li {
                    width: auto;
                    height: auto;
                    float: none;
                    
                    display: flex;
                    justify-content: center;
                        align-items: center;
                    
                    a {
                        width: auto;
                    }
                    
                    img {
                        /*padding: 2em 0;*/
                    }
                }
            }
        }
    }
}

/* Navigation
--------------------------------------------------- */

#union_main_menu.main_menu {
    /* Overrides */
    position: static;
    width: auto;
    height: auto;
    top: auto;
    bottom: auto;
    background: none;
    
    ul {
        /* Overrides */
        height: auto;
        
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        list-style-type: none;
        margin: 0;
        padding: 0;
        
        @include mq('phablet', max) {
            width: 100%;
            display: block;
        }
        
        li {
            /* Overrides */
            padding: 0;
            margin: 0;
            background: none;
            float: none;
            
            #userguide, #userguid:hover {
                display: none;
                background-image: none;
                span{
                    float: none;
                    padding: 0;
                }
            }
            
            a {
                /* Overrides */
                float: none;

                position: relative;
                display: block;
                padding: 1em;
                font-weight: 400;
                text-decoration: none;
                cursor: pointer;
                transition: ease-in-out 0.1s all;

                &:hover, &.active{
                    span{
                        background: none;
                    }
                }
                
                span {
                    float: none;
                    padding: 0;
                    background: none;
                }

                background: #FFCB03;

                &:hover{
                    background: rgb(248,176,0);
                }

            }
        }
    }
}
